apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: spring-app
        image: bkimminich/juice-shop  # Using Juice Shop as the Spring-like test app
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: spring-app
spec:
  type: NodePort
  selector:
    app: spring-app
  ports:
    - protocol: TCP
      port: 3000       # Internal ClusterIP port
      targetPort: 3000 # Port the app listens on inside the pod
      nodePort: 30000  # The port exposed on your Mac via kind-config